<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bgee.security.dao.AccountDao" >
   <select id="get" resultType="Account">
     select * from s_account where id = #{id}
   </select>

    <select id="getAccountPass" resultType="Account">
        select * from s_account where account = #{account} and pass = md5(concat(#{pass},'secret')) and status = 1
    </select>

    <select id="list" resultType="Account">
        select * from s_account where status = 1;
    </select>

    <delete id="del">
        update s_account set status = 0 where id = #{id}
    </delete>


    <insert id="insert" parameterType="Account" useGeneratedKeys="true" keyProperty="id">
        insert into s_account
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="account != null" >
                account,
            </if>
            <if test="pass != null" >
                pass,
            </if>
            <if test="tel != null" >
                tel,
            </if>
            <if test="sex != null" >
                sex,
            </if>
            <if test="headimg != null" >
                headimg,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="createDate != null" >
                create_date,
            </if>
            <if test="createBy != null" >
                create_by,
            </if>
            <if test="modifyDate != null" >
                modify_date,
            </if>
            <if test="modifyBy != null" >
                modify_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="account != null" >
                #{account,jdbcType=VARCHAR},
            </if>
            <if test="pass != null" >
                #{pass,jdbcType=VARCHAR},
            </if>
            <if test="tel != null" >
                #{tel,jdbcType=VARCHAR},
            </if>
            <if test="sex != null" >
                #{sex,jdbcType=INTEGER},
            </if>
            <if test="headimg != null" >
                #{headimg,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createDate != null" >
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null" >
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifyDate != null" >
                #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyBy != null" >
                #{modifyBy,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="Account" >
        update s_account
        <set >
            <if test="account != null" >
                account = #{account,jdbcType=VARCHAR},
            </if>
            <if test="pass != null" >
                pass = #{pass,jdbcType=VARCHAR},
            </if>
            <if test="tel != null" >
                tel = #{tel,jdbcType=VARCHAR},
            </if>
            <if test="sex != null" >
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="headimg != null" >
                headimg = #{headimg,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createDate != null" >
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null" >
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifyDate != null" >
                modify_date = #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyBy != null" >
                modify_by = #{modifyBy,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>