<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bgee.security.dao.AccountDao" >
   <select id="get" resultType="Account">
     select * from s_account where id = #{id}
   </select>

    <select id="getAccountPass" resultType="Account">
        select * from s_account where account = #{account} and pass = md5(concat(#{pass},'secret')) and status = 1
    </select>

    <select id="list" resultType="Account">
        select * from s_account where status = 1;
    </select>

    <delete id="del">
        update s_account set status = 0 where id = #{id}
    </delete>

</mapper>