<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bgee.security.dao.AccountDao" >
   <select id="get" resultType="com.bgee.security.entity.Account">
     select * from s_account where id = #{id}
   </select>

    <select id="getAccountPass" resultType="com.bgee.security.entity.Account">
        select * from s_account where account = #{account} and pass = md5(concat(#{pass},'secret')) and status = 1
    </select>

    <select id="get4Tel" resultType="com.bgee.security.entity.Account">
        select * from s_account where tel = #{tel} and status = 1
    </select>

    <select id="get4Account" resultType="com.bgee.security.entity.Account">
        select * from s_account where account = #{account} and status = 1
    </select>

    <select id="list" resultType="com.bgee.security.entity.Account">
        select * from s_account where status = 1;
    </select>

    <delete id="del">
        update s_account set status = 0 where id = #{id}
    </delete>


    <insert id="insert" parameterType="com.bgee.security.entity.Account" useGeneratedKeys="true" keyProperty="id">
        insert into s_account
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="account != null" >
                account,
            </if>
            <if test="pass != null" >
                pass,
            </if>
            <if test="tel != null" >
                tel,
            </if>
            <if test="sex != null" >
                sex,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="createDate != null" >
                create_date,
            </if>
            <if test="createBy != null" >
                create_by,
            </if>
            <if test="modifyDate != null" >
                modify_date,
            </if>
            <if test="modifyBy != null" >
                modify_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="account != null" >
                #{account,jdbcType=VARCHAR},
            </if>
            <if test="pass != null" >
                md5(concat(#{pass},'secret')),
            </if>
            <if test="tel != null" >
                #{tel,jdbcType=VARCHAR},
            </if>
            <if test="sex != null" >
                #{sex,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createDate != null" >
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null" >
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifyDate != null" >
                #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyBy != null" >
                #{modifyBy,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.bgee.security.entity.Account" >
        update s_account
        <set >
            <if test="account != null" >
                account = #{account,jdbcType=VARCHAR},
            </if>
            <if test="pass != null" >
                pass = md5(concat(#{pass},'secret')),
            </if>
            <if test="tel != null" >
                tel = #{tel,jdbcType=VARCHAR},
            </if>
            <if test="sex != null" >
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createDate != null" >
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null" >
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifyDate != null" >
                modify_date = #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyBy != null" >
                modify_by = #{modifyBy,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <insert id="insertAcctRoles">
      insert into s_account_role (account_id,role_id) values
      <foreach collection="roles" item="roleId" index="index" separator=",">
          (#{accountId},#{roleId})
      </foreach>
    </insert>

    <select id="accountAuthz" resultType="com.bgee.security.entity.Authz">
        select distinct s_authz.* from s_authz
        left join s_role_authz on s_authz.id = s_role_authz.authz_id
        left join s_role on s_role.id = s_role_authz.role_id
        left join s_account_role on s_account_role.role_id = s_role.id
        left join s_account on s_account_role.account_id = s_account.id
        where s_account.id = #{accountId}
        and s_role.status = 1
        and s_account.status = 1
        and s_authz.status = 1
    </select>

</mapper>